/TEST-APITests.CreatePostTests.xml
/TEST-APITests.GetPostTests.xml
/TEST-APITests.GetPostsTests.xml
/TEST-APITests.PostTests.xml
/TEST-WebTests.CreateAccountTest.xml
/TEST-WebTests.PlaceOrderTest.xml
/TEST-cucumber.TestNGTestRunner.xml
